html body {
    background: black !important;

    a{
    text-decoration: none;
    }

    ul.ol, li {
        list-style: none;
    }

    /* Modal 배경 투명도 값 고정 */
    .MuiModal-backdrop {
        background-color: rgba(0, 0, 0, 0.25) !important;
    }

    h1, h2, h3, h4, h5, h6{
        @media screen and (max-width: 600px) {
            font-size: 140% !important;
        }
    }

    span, p{
        @media screen and (max-width: 600px) {
            font-size: 90% !important;
        }
    }

    @media screen and (max-width: 600px) {
        font-size: 80% !important;
    }
}::-webkit-scrollbar {
     display: none;
 }

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}